@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: #FFFBF2;
    overflow-x: hidden;
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}


#head {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
}

#head-title {
    position: absolute;
    display: flex;
    font-family: 'Cinzel', serif;
    font-size: 70px;
    text-shadow: 0 0 5px #FFFBF2;
}

#head-background-img {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./img/hero_img.jpg");
    background-size: auto;
    background-size: cover;
    filter:brightness(0.5) contrast(1.3);
}

#head-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.eq {
    position: absolute;
    z-index: -1;
}

.content {
    overflow: hide;
    padding: 3rem;
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-size: 25px;
    box-shadow: -50px -50px 5px -50px, 50px -50px 5px -50px;
}

blockquote {
    font-weight: 100;
    margin: 5rem;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}

blockquote footer {
    float: right;
}

#biology::first-letter {
    color: #E31414;
    float: left;

    font-size: 80px;
    line-height: 50px;
    padding-left: 3px;
}

#timeline ul {
    list-style: none;
}

#timeline ul li {
    max-width: 40%;
    font-family: "Montserrat";
    padding: 20px;
    margin: 20px;
    background-color:#010A10;
    border-radius: 20px;
}

.timeline-content h1 {
    font-weight: 500;
    line-height: 30px;
    font-size: 35px;
}

.timeline-content p {
    font-weight: 100;
}